#hero {
    grid-area: hero;

    background-size: cover;
    background-repeat: no-repeat;

    color: $hero-text-color;

    @include laptop {
        display: flex;
        flex-flow: column;
        height: 100vh;
    }

    //Pink pill shaped buttons. Used twice in hero
    .hero-button {
        background-color: $hero-button-color;
        white-space: nowrap;
        font-weight: 600;
        color: $hero-text-color;
        border-color: transparent;
    }
}

#nav-bar {
    @include laptop {
        display: grid;
        grid-template-columns: minmax(0, 30%) auto minmax(0, 30%);
        padding: 20px;
        background-color: $nav-bar-background-color;
    }

    .logo-container {
        @extend %container;
        justify-content: flex-start;

        #nav-logo {
            
        }
    }

    #nav-links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        .nav-link {
            margin: 0% 5%;
            font-size: 1em;
            @extend %container;
        }
    }

    .button-container {
        @extend %container;
        justify-content: flex-end;

        .hero-button {
            border-radius: 20px;
            padding: 10px 25px;
            font-size: 0.9em;
        }
    }
}

#hero-content-container {
    padding: 10% 30%;
    display: flex;
    align-items: center;
    flex-grow: 1;

    .hero-button {
        border-radius: 20px;
        padding: 10px 25px;
        font-size: 0.9em;
    }

    #hero-content {
        max-width: 800px;
        div { margin: 4% 0; }
    }

    #hero-horizontal-rule {
        background-color: $hero-button-color;
        height: 3px;
    }

    #hero-title {
        font-size: 4vw;
    }

    #hero-description{
        font-size: 1.2vw;
        letter-spacing: 0.1vw;
        font-weight: 400;
        line-height: 150%;
    }

    .hero-button {
        
    }
}

#nav-logo {
    background-color: $hero-button-color;
}