#hero {
    grid-area: hero;
    background-size: cover;
    background-repeat: no-repeat;
    color: $hero-text-color;

    @include laptop {
        display: flex;
        flex-flow: column;
        height: 100vh;
    }
}

#hero-content-container {
    padding: 10% 30%;
    display: flex;
    align-items: center;
    flex-grow: 1;

    .content {
        max-width: 800px;
        & > div {margin: 4% 0};
    }

    hr {height: 3px;}

    .title {font-size: 4vw;}

    .description{
        font-size: 1.2vw;
        letter-spacing: 0.1vw;
        font-weight: 400;
        line-height: 150%;
    }
}

#nav-bar {
    @include laptop {
        display: grid;
        grid-template-columns: minmax(0, 30%) auto minmax(0, 30%);
        padding: 20px;
        background-color: $nav-bar-background-color;
    }

    .logo-container {
        @extend %container;
        justify-content: flex-start;
    }

    .button-container {
        @extend %container;
        justify-content: flex-end;
    }

    #nav-links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        .nav-link {
            @extend %container;
            margin: 0% 5%;
            font-size: 1em;
        }
    }
}