#what-we-do-section {
    grid-area: what-we-do;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 50px)/2));
    grid-gap: 50px;

    .text-section {
        background-color:white;
        color: black;
        

        div {
            margin: 2% 0;
        }

        .text-container {
            margin: 0 0 8% 0;

            .title {
                font-size: 4vw;
                font-weight: 600;
                color: black;
                font-family: Vollkorn;
            }

            .subtitle {
                font-size: 1.2vw;
                font-weight: 400;
                color: lighten(grey, 5);
                letter-spacing: 2px;
            }

            .description {
                p {
                    font-size: 1.4vw;
                    letter-spacing: 1px;
                    font-weight: 300;
                    line-height: 150%;
                }
            }

            button {
                border-radius: 0;
                border-color: black;
                border-width: 1px;
                padding: 20px 25px;
                color: grey;
                font-size: 0.8em;
                letter-spacing: 4px;
            }
        }
    }

    .image-section {
    }
}