$hero-text-color: #FF206E;
$hero-button-color: #FF206E;
$nav-bar-background-color: transparent;

$laptop-device-width: 1200px;
$notebook-device-width:992px;
$tablet-device-width:768px;
$phone-device-width: 576px;

$pink: #FF206E;