@import './css/init.scss';
@import './css/variables.scss';
@import './css/mixins.scss';
@import './main.scss';

body {
    margin: 0;
    font-family: Lato;

    //TODO: temporary?
    img { width: 100%; }
}

#app {
    //this layout will likely not change for other devices
    @include laptop {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "hero"
            "page-content-wrapper"
            "footer"
    }
}

#our-services-section {
    grid-area: our-services;
    background-color: white;
}

#contact-us-section {
    grid-area: contact-us;
    background-color: silver;
}

#testimonials-section {
    grid-area: testimonials;
    background-color: purple;
}