@import './css/init.scss';
@import './css/variables.scss';
@import './css/mixins.scss';

body {
    margin: 0;
}

#app {
    @include laptop {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "hero"
            "widgets"
    }
}

#hero {
    @extend %fullscreen;
    @extend %container;
}

#widgets {
    grid-area: widgets;
}

.widget {
}