@import './css/init.scss';
@import './css/variables.scss';
@import './css/mixins.scss';

@import './css/componentStyles/sharedComponentsStyles.scss';
@import './css/componentStyles/hero.scss';
@import './css/componentStyles/aboutUs.scss';
@import './css/componentStyles/ourService.scss';
@import './css/componentStyles/caseStudiesStyles.scss';
@import './css/componentStyles/ourClientsStyles.scss';
@import './css/componentStyles/footerStyles.scss';

#page-content-wrapper {
    display: flex;
    justify-content: center;
    grid-area: page-content-wrapper;

    //need seperate container. Wrapper places container in the center
    #page-content-container {
        display: grid;

        @include notebook {
            grid-template-rows: repeat(4, auto);
            grid-row-gap: 50px;
            margin-top: 100px;
            grid-template-columns: 1100px;
            grid-template-areas: 
                "about-us"
                "our-service"
                "case-studies"
                "our-clients"
        }
    }
}